*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}
.container{
    display:flex;
    height: 100vh; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    
}
.mainBox{
    background-color: white;
    width: 600px;
    display: grid;
    gap:20px;
    /* align-items: center; */
    border-radius: 20px;
    grid-template-areas:
    "img_perfume box-description" ;
    
}
.box-description{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    grid-area: box-description;
    justify-content: space-around;
    gap: 10px;
    padding-right: 30px;  
    padding-bottom: 30px;
    padding-top: 20px;
}
.img_perfume{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 100%;
    grid-area: img_perfume;
}
.titlePerfume{
    font-family: Montserrat;
    word-spacing: 20px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}
.namePerfume{
    padding: 0;
    margin: 0;
    font-family: Fraunces;
    text-align: start;
    font-size: 30px;
    width: 250px; 
}
.descriptionPerfume{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    width: 250px;
    
}
.prices{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.price_promo{
    font-family: Fraunces;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}
.price_normal{
    font-family: Montserrat;
    align-self: center;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.btn{
    height: 50px;
    border-radius: 10px;
    background-color:  hsl(158, 36%, 37%);
    
    border: 0;
}
.textbtn{
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    vertical-align: middle;
    
}
.iconmarker{
    vertical-align: middle;
    
}   
@media(max-width: 730px){
    .mainBox{
        width: 550px;
    }
    .img_perfume{
        width: 100%;
    }
    .box-description{
        max-width: 100%;
    }
}

@media(max-width: 568px){
    .mainBox{
        width: 300px;
        grid-template-areas: 
        "img-perfume"
        "box-description";
    }
    .img_perfume{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .container{
        height: 150vh;
    }
    .box-description{
        padding-top: 0;
        padding-left: 20px;
    }
    .namePerfume{
        font-size: 25px;
    }

    .descriptionPerfume{
        font-size: 12px;
    }
}